In [1]:
%run ./DataPreprocessing.ipynb

In [2]:
data=readCSV('Sample_Dataset.csv')

In [3]:
print(data)
# writeCSV(data,'Test123123.csv')

       #                        Company.ID                      event  \
0      1  b8610d38ddca3692d34a55594e0b4df5             View Dashboard
1      2  6c5941a5643cbcc803d42298adec6661             View Dashboard
2      3  b8610d38ddca3692d34a55594e0b4df5               Graph Editor
3      4  51b809b091fc0f51dc7aca9ddc486bfe      Graph Saved in Editor
4      5  51b809b091fc0f51dc7aca9ddc486bfe             View Dashboard
..   ...                               ...                        ...
861  862  51b809b091fc0f51dc7aca9ddc486bfe               Graph Editor
862  863  883875a18510e68dcc642a6875717d15             View Dashboard
863  864  c7cb32f712bd28d7bf874f56f3ecf938          Data Source Error
864  865  3cad74c41b8f449a72eeb3ec457f01b2             View Dashboard
865  866  3cad74c41b8f449a72eeb3ec457f01b2  Edit Graph from Dashboard

              time  Theme  Account.Users  Metric.Count Graph.Origin  \
0    8/1/2018 0:00   Dark            1.0           NaN          NaN
1    8/1/2018 0:00  Light           41.0           NaN          NaN
2    8/1/2018 0:00    NaN            1.0           NaN       Custom
3    8/1/2018 0:00    NaN            1.0           NaN       Custom
4    8/1/2018 0:00  Light            1.0           NaN          NaN
..             ...    ...            ...           ...          ...
861  8/1/2018 1:44    NaN            1.0           NaN       Custom
862  8/1/2018 1:45  Light            1.0           NaN          NaN
863  8/1/2018 1:45    NaN            4.0           NaN          NaN
864  8/1/2018 1:45  Light            2.0           NaN          NaN
865  8/1/2018 1:45    NaN            2.0           NaN       Custom

     Number.of.Graphs.on.Dashboard  Graphs.Owned
0                              NaN          47.0
1                              NaN           0.0
2                              NaN          47.0
3                              NaN          15.0
4                              NaN           8.0
..                             ...           ...
861                            NaN           8.0
862                            NaN          38.0
863                            NaN          13.0
864                            NaN          27.0
865                            NaN          27.0

[866 rows x 10 columns]

In [4]:
data

,#,Company.ID,event,time,Theme,Account.Users,Metric.Count,Graph.Origin,Number.of.Graphs.on.Dashboard,Graphs.Owned
0,1,b8610d38ddca3692d34a55594e0b4df5,View Dashboard,8/1/2018 0:00,Dark,1.0,NaN,NaN,NaN,47.0
1,2,6c5941a5643cbcc803d42298adec6661,View Dashboard,8/1/2018 0:00,Light,41.0,NaN,NaN,NaN,0.0
2,3,b8610d38ddca3692d34a55594e0b4df5,Graph Editor,8/1/2018 0:00,NaN,1.0,NaN,Custom,NaN,47.0
3,4,51b809b091fc0f51dc7aca9ddc486bfe,Graph Saved in Editor,8/1/2018 0:00,NaN,1.0,NaN,Custom,NaN,15.0
4,5,51b809b091fc0f51dc7aca9ddc486bfe,View Dashboard,8/1/2018 0:00,Light,1.0,NaN,NaN,NaN,8.0
...,...,...,...,...,...,...,...,...,...,...
861,862,51b809b091fc0f51dc7aca9ddc486bfe,Graph Editor,8/1/2018 1:44,NaN,1.0,NaN,Custom,NaN,8.0
862,863,883875a18510e68dcc642a6875717d15,View Dashboard,8/1/2018 1:45,Light,1.0,NaN,NaN,NaN,38.0
863,864,c7cb32f712bd28d7bf874f56f3ecf938,Data Source Error,8/1/2018 1:45,NaN,4.0,NaN,NaN,NaN,13.0
864,865,3cad74c41b8f449a72eeb3ec457f01b2,View Dashboard,8/1/2018 1:45,Light,2.0,NaN,NaN,NaN,27.0
865,866,3cad74c41b8f449a72eeb3ec457f01b2,Edit Graph from Dashboard,8/1/2018 1:45,NaN,2.0,NaN,Custom,NaN,27.0

In [5]:
data=selectColumns(data,['time','Theme'])

In [6]:
data=deleteColumns(data,['time'])

In [7]:
data

     Theme
0     Dark
1    Light
2      NaN
3      NaN
4    Light
..     ...
861    NaN
862  Light
863    NaN
864  Light
865    NaN

[866 rows x 1 columns]